<ion-header>
  <ion-toolbar>
    <ion-title>Reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label>Nombre: {{libro.nombre}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Autor: {{libro.autor}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Categoria: {{libro.categoria}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Cantidad disponible: {{libro.cantidadDisponible}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Tarifa: {{libro.tarifa}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Cantidad reservada:</ion-label>
      <ion-input [(ngModel)]="libro.cantidadReservada" (ionChange)="comprobarCantidad($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Total: {{total}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Fecha de devolución</ion-label>
      <ion-datetime displayFormat="DDDD MMM D, YYYY" min="2020" max="2022" (ionChange)="obtenerFecha($event)"></ion-datetime>
    </ion-item>
    <ion-button expand="full"  color="success" (click)="confirmarReserva()">Confirmar</ion-button>
  </ion-card>
</ion-content>
